input[type='number']{
    width: 75%;
    height: 50px;
    border-radius: 20px;
}
input[type='text']{
    width: 75%;
    height: 50px; 
    border-radius: 20px;   
}

table{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px ;
    padding-bottom: 20px;
}

td,th{
    padding-bottom: 10px;
    text-align: center;
}

input[type='submit']{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}



